// Specific CSS for your home-page
.home-page {
  background-size: cover;
  background-position: center;
  padding: 5% 0;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), asset-url(home-page);
  //background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 100%;


}

.home-page h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}


.home-page h3 {
  color: white;
  font-weight: bold;
  //font-size: 25px;
  margin-top: 10%;
}



#sentences {
  padding-top: 70%;
}

#call-to-action {
  margin-top: 26%;
  font-size: 30px;
}
