<div class="card-event">

  <div class="card-event-description">
    <p> <%= description %> </p>
    <%= t.hidden_field :time, as: :hidden  %>
  </div>
  <div class="card-times" id="form_group_<%= t.index %>">
    <div class="btn btn-outline-primary font-weight-bold btn-time" value="5">5</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time" value="10">10</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time" value="15">15</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time" value="20">20</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time" value="25">25</div>
  </div>

</div>
