
<div class="card-event">
  <div class="card-time-edit">
    <p class="mins-late"> Up to </p>
    <div class="d-flex justify-content-center card-count">
      <span type="button" id="minus"> - </span>
      <%= t.select :time, options_for_select(1..60, start_t ), id: "count" %>
      <span type="button" id="plus"> + </span>
    </div>
    <p class="mins-late"> minutes late </p>
  </div>
  <div class="card-product mb-2">
    <div class="card-product-infos">
     <h2> <%= t.text_field :description, disabled: :true, class: "disabled-input" %> </h2>
   </div>
  </div>
</div>
