<div class="container">

  <%= simple_form_for(@event) do |f| %>

    <div class="form-inputs">
      <%= f.association :group %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, value: "Pick challenge", class: "btn btn-primary w-50 my-2 btn-text" %>
      <%= hidden_field_tag :challenge, @challenge.id %>
    </div>
  <% end %>

</div>

