<div class="container">

  <%= form_for(@event) do |f| %>

    <div class="form-inputs">
      <%= f.fields_for :events_levels do |f|  %>
      <%= render 'event_levels_fields', f: f %>
    </div>

    <% end %>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, class: "btn btn-primary w-50 my-2 btn-text submit-event" %>
    </div>
  <% end %>

</div>

