<div class="container mt-2">
  <h1 class="text-center"> Customize your challenge </h1>
  <div class='mb-3'>
    <%= image_tag @event.photo, crop: :fill, class: 'card-category challenge-card' %>
  </div>
  <div>
    <%= render 'form_edit' %>
  </div>
</div>

