<div class="container">

<p> <%= link_to "VIDEOS", videos_path, class: "btn btn-primary" %> </p>

<%= image_tag ( "https://media.giphy.com/media/l0HlHHTwgXMl4hTeE/giphy.gif") %>

<%#= image_tag @event.photo %>
<!-- ^ this line displays the image of the event -->

</div>
