<div class="home-page">
  <div class="container">
   <h1>App2Wait</h1>
   <div id = "sentences">
     <h4>Choose a challenge</h4> <!-- Schedule with your friends -->
     <h4>Set your times</h4> <!-- Punish their tardiness -->
     <h4>Enjoy your wait</h4>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Challenge now", challenges_path, class:"btn btn-outline-light", id:"call-to-action"  %>
    </div>
  </div>
</div>
