<div class="home-page">
  <div class="container">
   <h1>App2Wait</h1>
   <div id = "sentences">
     <h3>Challenge your friends</h3>
     <h3>Share the challenges</h3>
     <h3>Never get bored again</h3>
    </div>
    <div>
      <%= link_to "See the challenges", challenges_path, class:"btn btn-outline-light btn-block", id:"call-to-action"  %>
    </div>
  </div>
</div>
