// #sentences {
//   h4 {
//     color: $white;
//     font-weight: 800;
//     margin-bottom: 25px;
//   }
// }

.firsttimer {
  padding-top: 4%;
}
.secondtimer{
  padding-top: 4%;
}
.lasttimer{
  padding-top: 4%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.edit-disclaimer {
  font-size: 15px;
}

@media(min-width: 600px) {
  .show {
    display: none;
  }
  .msg {
    color: $black;
  }
}

@media(max-width: 600px) {
  .msg {
    display: none;
  }
}
