// #sentences {
//   h4 {
//     color: $white;
//     font-weight: 800;
//     margin-bottom: 25px;
//   }
// }

.firsttimer {
  padding-top: 4%;
}
.secondtimer{
  padding-top: 4%;
}
.lasttimer{
  padding-top: 4%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
